---
import AppLayout from "../layouts/AppLayout.astro";
import DashboardView from "../components/dashboard/DashboardView";

const user = Astro.locals.user;
---

<AppLayout title="Dashboard">
  <div class="px-6 py-12">
    <div class="mx-auto max-w-6xl">
      <DashboardView client:visible user={user} />
    </div>
  </div>
</AppLayout>
