---
import AppLayout from "../layouts/AppLayout.astro";
import ProgressView from "../components/progress/ProgressView";

const user = Astro.locals.user;
---

<AppLayout title="Progress">
  <div class="px-6 py-12">
    <div class="mx-auto max-w-6xl">
      <ProgressView client:visible user={user} />
    </div>
  </div>
</AppLayout>
