---
import AppLayout from "../layouts/AppLayout.astro";
import QuizHub from "../components/quiz/QuizHub";
---

<AppLayout title="Quiz Hub">
  <div class="px-6 py-12">
    <div class="mx-auto max-w-5xl">
      <QuizHub client:load />
    </div>
  </div>
</AppLayout>
